<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Linkefree - {{title}}</title>
    <link rel="shortcut icon" href="/images/page-icon.ico" type="image/x-icon">
    <!-- Used Image: https://www.svgrepo.com/svg/525982/link-circle?edit=true -->
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
  {{#if linkpage}}
    {{else}}
     {{>navbar}}
     {{>footer}}
    {{/if}}
    {{{body}}}
    <div class="flex justify-center" id="msg_div">
      {{#if error}}
      <div
      class="bg-red-400 border border-red-600 fixed w-3/4 float-right top-0 max-w-md lg:max-w-2xl mt-20 text-center rounded-md"
      >
        <div
          id="close_msg_button"
          class="bg-red-700 w-3 h-3 rounded-full hover:bg-red-900 cursor-pointer float-right m-1"
        ></div>
        <h1 class="m-4 text-red-800">{{error}}</h1>
      </div>
      {{else}}
      {{/if}}
      {{>_msg}}
    </div>
<script src="/js/main.js"></script>
</body>
</html>