<h1>{{username}}</h1>
<form action="" method="post">
  <input type="text" name="instagram" id="instagram" placeholder="Instagram" value="{{instagram}}" />
  <input type="text" name="youtube" id="youtube" placeholder="Youtube" value="{{youtube}}" />
  <input type="text" name="whatsapp" id="whatsapp" placeholder="WhatsApp" value="{{whatsapp}}" />
  <input type="text" name="facebook" id="facebook" placeholder="Facebook" value="{{facebook}}" />
  <input type="text" name="tiktok" id="tiktok" placeholder="TikTok" value="{{tiktok}}" />
  <input type="text" name="linkedin" id="linkedin" placeholder="LinkedIn" value="{{linkedin}}" />
  <input type="text" name="twitter" id="twitter" placeholder="Twitter" value="{{twitter}}" />
  <input type="text" name="vsco" id="vsco" placeholder="VSCO" value="{{vsco}}" />
  <input type="text" name="kwai" id="kwai" placeholder="Kwai" value="{{kwai}}" />
  <input type="text" name="pinterest" id="pinterest" placeholder="Pinterest" value="{{pinterest}}" />
  <input type="text" name="site" id="site" placeholder="Site Pessoal" value="{{site}}" />
  <button type="submit">Editar</button>
</form>
<a href="/userpage"><button>Voltar</button></a>