<h1>{{username}}</h1>

{{#if instagram}}
  <a href={{instagram}} target="_blank">Instagram</a>
{{else}}
{{/if}}

{{#if youtube}}
  <a href={{youtube}} target="_blank">Youtube</a>
{{else}}
{{/if}}

{{#if whatsapp}}
  <a href="https://api.whatsapp.com/send?phone=55{{whatsapp}}&text=Ol%C3%A1!" target="_blank">WhatsApp</a>
{{else}}
{{/if}}

{{#if facebook}}
  <a href={{facebook}} target="_blank">Facebook</a>
{{else}}
{{/if}}

{{#if tiktok}}
  <a href={{tiktok}} target="_blank">TikTok</a>
{{else}}
{{/if}}

{{#if linkedin}}
  <a href={{linkedin}} target="_blank">LinkedIn</a>
{{else}}
{{/if}}

{{#if twitter}}
  <a href={{twitter}} target="_blank">Twitter</a>
{{else}}
{{/if}}

{{#if vsco}}
  <a href={{vsco}} target="_blank">VSCO</a>
{{else}}
{{/if}}

{{#if kwai}}
  <a href={{kwai}} target="_blank">Kwai</a>
{{else}}
{{/if}}

{{#if pinterest}}
  <a href={{pinterest}} target="_blank">Pinterest</a>
{{else}}
{{/if}}

{{#if site}}
  <a href={{site}} target="_blank">Site Pessoal</a>
{{else}}
{{/if}}