<h1>Olá {{loggedUser}}<h1>
<a href="/auth/logout"><button>Sair</button></a>

{{#if pagelink}}
    <div>
        <a href="/linkpage/link/{{pagelink}}" id="linkToCopy" target="_blank">Veja</a>
        <button id="btnCopy" onclick="copyLink()">Copiar</button>
        <a href="/linkpage/edit/{{pagelink}}"><button>Editar</button></a>
        <a href="/linkpage/remove/{{pagelink}}"><button>Remover</button></a>
    </div>
{{else}}
<a href="/linkpage/create"><button>Criar página Link</button></a>
{{/if}}

