<div class="flex items-center justify-center h-screen mb-32 sm:mb-0">
  <div class="bg-white m-6 w-64 h-3/4 rounded-lg shadow-2xl">
    <div
      class="text-center h-64 rounded-tl-lg rounded-tr-lg"
      style="background-image:url(/images/social-medias.jpg); background-size:cover;"
    >
      <!-- Used image: https://br.freepik.com/fotos-gratis/maos-segurando-o-conceito-de-midia-social-do-smartphone_38689778.htm#query=redes%20sociais&position=13&from_view=search&track=ais -->
    </div>
    <div class="text-center text-white bg-black p-2">
      <h1>{{username}}</h1>
    </div>
    <div class="overflow-auto h-3/5 rounded-bl-lg rounded-br-lg">
      {{#if instagram}}
        <div
          class="w-full items-center border-b border-gray-300 bg-white text-black p-3 flex"
        >
          <p class="w-4/5">Instagram</p>
          <a href={{instagram}} target="_blank"><button
              class="border border-gray-300 hover:border-gray-400 px-3 py-1 rounded-sm text-sm"
            >Acessar</button></a>
        </div>
      {{else}}
      {{/if}}

      {{#if youtube}}
        <div
          class="w-full items-center border-b border-gray-300 bg-white text-black p-3 flex"
        >
          <p class="w-4/5">Youtube</p>
          <a href={{youtube}} target="_blank"><button
              class="border border-gray-300 hover:border-gray-400 px-3 py-1 rounded-sm text-sm"
            >Acessar</button></a>
        </div>
      {{else}}
      {{/if}}

      {{#if whatsapp}}
        <div
          class="w-full items-center border-b border-gray-300 bg-white text-black p-3 flex"
        >

          <p class="w-4/5">WhatsApp</p>

          <a
            href="https://api.whatsapp.com/send?phone=55{{whatsapp}}&text=Ol%C3%A1!"
            target="_blank"
          ><button
              class="border border-gray-300 hover:border-gray-400 px-3 py-1 rounded-sm text-sm"
            >Acessar</button></a>

        </div>
      {{else}}
      {{/if}}

      {{#if facebook}}
        <div
          class="w-full items-center border-b border-gray-300 bg-white text-black p-3 flex"
        >
          <p class="w-4/5">Facebook</p>
          <a href={{facebook}} target="_blank"><button
              class="border border-gray-300 hover:border-gray-400 px-3 py-1 rounded-sm text-sm"
            >Acessar</button></a>
        </div>
      {{else}}
      {{/if}}

      {{#if tiktok}}
        <div
          class="w-full items-center border-b border-gray-300 bg-white text-black p-3 flex"
        >
          <p class="w-4/5">TikTok</p>
          <a href={{tiktok}} target="_blank"><button
              class="border border-gray-300 hover:border-gray-400 px-3 py-1 rounded-sm text-sm"
            >Acessar</button></a>
        </div>
      {{else}}
      {{/if}}

      {{#if linkedin}}
        <div
          class="w-full items-center border-b border-gray-300 bg-white text-black p-3 flex"
        >
          <p class="w-4/5">LinkedIn</p>
          <a href={{linkedin}} target="_blank"><button
              class="border border-gray-300 hover:border-gray-400 px-3 py-1 rounded-sm text-sm"
            >Acessar</button></a>
        </div>
      {{else}}
      {{/if}}

      {{#if twitter}}
        <div
          class="w-full items-center border-b border-gray-300 bg-white text-black p-3 flex"
        >
          <p class="w-4/5">Twitter</p>
          <a href={{twitter}} target="_blank"><button
              class="border border-gray-300 hover:border-gray-400 px-3 py-1 rounded-sm text-sm"
            >Acessar</button></a>
        </div>
      {{else}}
      {{/if}}

      {{#if vsco}}
        <div
          class="w-full items-center border-b border-gray-300 bg-white text-black p-3 flex"
        >
          <p class="w-4/5">VSCO</p>
          <a href={{vsco}} target="_blank"><button
              class="border border-gray-300 hover:border-gray-400 px-3 py-1 rounded-sm text-sm"
            >Acessar</button></a>
        </div>
      {{else}}
      {{/if}}

      {{#if kwai}}
        <div
          class="w-full items-center border-b border-gray-300 bg-white text-black p-3 flex"
        >
          <p class="w-4/5">Kwai</p>
          <a href={{kwai}} target="_blank"><button
              class="border border-gray-300 hover:border-gray-400 px-3 py-1 rounded-sm text-sm"
            >Acessar</button></a>
        </div>
      {{else}}
      {{/if}}

      {{#if pinterest}}
        <div
          class="w-full items-center border-b border-gray-300 bg-white text-black p-3 flex"
        >
          <p class="w-4/5">Pinterest</p>
          <a href={{pinterest}} target="_blank"><button
              class="border border-gray-300 hover:border-gray-400 px-3 py-1 rounded-sm text-sm"
            >Acessar</button></a>
        </div>
      {{else}}
      {{/if}}

      {{#if site}}
        <div
          class="w-full items-center border-b border-gray-300 bg-white text-black p-3 flex"
        >
          <p class="w-4/5">Site</p>
          <a href={{site}} target="_blank"><button
              class="border border-gray-300 hover:border-gray-400 px-3 py-1 rounded-sm text-sm"
            >Acessar</button></a>
        </div>
      {{else}}
      {{/if}}
    </div>
  </div>
</div>
<div class="from-red-200 via-purple-400 to-pink-300"></div>
<style>
  body { background-image: linear-gradient(to bottom,#fecaca, rgb(192, 132,
  252), #f9a8d4) }
</style>